@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root {
  /* ## Colors */

  /* ### Primary */

  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* ### Neutral */

  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);

  /* Note for text colors: */

  /* 1. "Verified Graduate" has the same color as the person's name with 50% opacity */
  /* 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
#container {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: left;
  cursor: pointer;
}
body {
  background-color: var(--Light-grayish-blue);
}
/* font size */
.name {
  font-size: 1.1em;
}
.graduated {
  font-size: 1em;
}
.title {
  font-size: 1.6em;
  padding: 0 0 1rem 0;
}
.desc {
  font-size: 1.2em;
}
/* coloring */
.dark .name,
.dark .title {
  color: var(--White);
}
.dark .graduated,
.dark .desc {
  color: var(--Light-gray);
}
.light .name,
.light .title {
  color: var(--Very-dark-blackish-blue);
}
.light .graduated,
.light .desc {
  color: var(--Very-dark-grayish-blue);
}
.card:nth-child(1) {
  background-color: var(--Moderate-violet);
}
.card:nth-child(2) {
  background-color: var(--Very-dark-grayish-blue);
}
.card:nth-child(3),
.card:nth-child(5) {
  background-color: var(--White);
}
.card:nth-child(4) {
  background-color: var(--Very-dark-blackish-blue);
}
/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
/* grid mobile */
/* card style */
.card {
  width: 80%;
  min-width: 300px;
  max-width: 575px;
  grid-column: 2/12;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--Very-dark-blackish-blue);
}
.card:hover {
  animation: shadow 0.15s ease-in;
  animation-fill-mode: forwards;
}
.cards > *:focus {
  background-image: url('images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: 90% top;
  background-size: 30%;
}
@keyframes shadow {
  from {box-shadow: 0 0 0 0 rgba(0,0,0,0)}
  to {box-shadow: 0 5px 30px -5px rgba(0,0,0,0.6)}
}
/* container card */
.img {
  width: max-content;
  height: max-content;
  margin: auto 0;
}
.img img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.4);
}
.details {
  margin: auto;
}
.details * {
  width: max-content;
  height: max-content;
  margin: 0;
}
/* grid desktop */
@media screen and (min-width: 930px) {
  .cards > *:focus {
    background-size: 20%;
  }
  .card {
    min-width: 100%;
    grid-column: span 8;
  }
  .card:nth-child(1) {
    grid-column: 1/7;
    grid-row: 1;
  }
  .card:nth-child(2) {
    grid-column: 7/10;
    grid-row: 1;
  }
  .card:nth-child(3) {
    grid-column: 1/4;
    grid-row: 2;
  }
  .card:nth-child(4) {
    grid-column: 4/10;
    grid-row: 2;
  }
  .card:nth-child(5) {
    grid-column: 10/13;
    grid-row: 1/3;
  }
}